* {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #FFF;
}
.wrapper {
  width: 1300px;
  margin: 0 auto;
  background-color: #111;
}
.chart {
  background-color: steelblue;
  display: block;
  margin: 10px auto;
}
.chart rect {
  fill: #555;
}
