* {
  margin: 0;
  padding: 0;
  background-color: #AAA;
  color: #000;
}
.wrapper {
  width: 1300px;
  margin: 0 auto;
  background-color: #CCC;
}
.chart {
  background-color: steelblue;
  display: block;
  margin: 10px auto;
}
.chart rect {
  fill: #555;
}

.axis text {
  font: 12px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #F00;
  shape-rendering: crispEdges;
}
.description {
  text-align: center;
}
